/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0b0b2c;
}

header {
    background-color: #860505;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 32px;
    margin-bottom: 10px;
}


nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: #0c0c0c;
}

main {
    padding: 20px; 56363
}

.banner {
    padding: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.banner{
    display: "inline-flexbox";
    background-image: url("imgBeasteye4.jpg")
    
}

.banner h2 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 10px;
}

.banner p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px; 
    background-color: #ffffff;
    color: #0074d9;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ffffff;
    text-decoration-color: black;
}
.container{
    max-width: 400px;
    width: 95%;
}
.img-container{
    background-color: black;
    width: 100px;
    height: 150px; 
}
 
.slider-wrapper .image-list{
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(10, 1fr) ;
}
.slider-wrapper .image-list .image-item{
    width: 32px ;
    height: 20px ;
    object-fit: cover;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

